.container {
    width: 20%;
}

.big, p {
    color: blue;
}

#b325, .b326 {
    border: 1px solid green;
    font-weight: bold;
}

p {
    background: yellow;
    width: 20%;
}
div {
    font: strong;
}